#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #e5e2e2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(16, 15, 15, 0.1);
}

.step {
  margin-bottom: 20px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-bottom: 10px;
}

.error {
  color: red;
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.form-step {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.form-step-title {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="password"] {
  width: calc(100% - 22px);
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="password"],
.form-field textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-field input[type="text"]:focus,
.form-field input[type="email"]:focus,
.form-field input[type="password"]:focus,
.form-field textarea:focus {
  outline: none;
  border-color: #007bff;
}

.form-error {
  color: red;
  font-size: 0.9rem;
}

.form-actions {
  text-align: right;
}

.form-actions button {
  margin-left: 10px;
}

.form-actions button:last-child {
  margin-left: 0;
}
